<p>This js repository is a place i made available for myself to experiment with javascript.  </p>
<p>click on the menu items on left to see the respective apps. there arent much right now but i will start uploading more app soon. </p>
<a href="#menu-toggle" id="menu-toggle"><i id="leftRightIcon" class="fa fa-chevron-left"></i></a>

